extends layout

//- md bootstrap (deprecated)
//- will delete soon, i'm only leaving this here because the deckgl map control panel uses 
//- styles from this template
//- i don't like the template tbh (md bootstrap)
//- too many paid options
append head
	title VisCrime - Config

block content
	.container
		.section
			.row
				.col.s12.m6.l6
					form(method='POST', action='/auto')
						h4 Data Collection
						h6 Status: #{status}
						p(hidden = isHidden) Enter a set of keyword(s) for the app to query the public Twitter API.
						label #{monitoredWord}
						p
							br
							label(hidden = !isHidden) #{shouldResume}
						.row
							input-field.col.s12
									input#word1(type="text", name="word1", placeholder="e.g. crime", hidden=isHidden)
						.row
							input-field.col.s12
									input#word2(type="text", name="word2", placeholder="e.g. assault", hidden=isHidden)
						.row
							input-field.col.s12
									input#word3(type="text", name="word3", placeholder="e.g. theft", hidden=isHidden)
						.row
							input-field.col.s12
									input#word4(type="text", name="word4", placeholder="e.g. murder", hidden=isHidden)
						.row
							input-field.col.s12
									input#word5(type="text", name="word5", placeholder="e.g. robbery", hidden=isHidden)
						.row
							input-field.col.s12
									p
										label
											input#resume(type="checkbox", hidden = isHidden)
											span Automatically resume collection if the app restarts
						button.btn.waves-effect.waves-light(type="submit") #{toggle} 
					