extends layout

block content
	.container-fluid#outer
		.row#filterform.my-5
			.col-md-6.mt-5
				select#crime-type.custom-select(name="crime-type")
					option(value="All" selected) All Crime
					for type in primary_types
						option(value=`${type}`) #{type}
				script.
					$('#crime-type').on('change', function() {
						hideMarkers($(this).find(":selected").val());
					});
			.col-md-6.mt-5
				select.custom-select
					for date in dates
						option(value=`${date}`) #{date}
		.row
			#map
	//- Define default position values and render map to the screen
	script.
		//Best way to pass vairables to a script in pug
		var i = !{JSON.stringify(coords)}
		var center = !{JSON.stringify(centre)}
		setHistoricCoords(i, center)
	//- Marker clusterer for reducing map clutter
	script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
	//- Verify with API key
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8BoNj8oknFsfTBWhNdAFTiMhI9Gkz8e8&callback=initHistoricMap")

