extends layout

block content
  div(class="row")
    div(class="col-sm-1")
      img(src="images/Twitter_Logo_WhiteOnBlue.png" align="left" width="64px")
    div(class="col-sm-11")
      h1 VISION
  div(class="card")
    form(action='/getTweets', method='POST')
              h6 Enter a word to find tweets:  
              input(type='text', name='word',  placeholder='e.g crime')
              br
              br
              h6 Enter a radius to find tweets (Centre is Melbourne):  
              input(type='text', name='dist',  placeholder='default is 10')
              br
              br
              input(type='text', name='shouldStoreTweets',  hidden, value=false)
              select(id='location', name='location')
                  option(value='melbourne') Melbourne
                  option(value='chicago') Chicago
              br
              br
              input(type='submit', value='Find Tweets')
  br
  br
  div(class="card")
    div(class="card-body col-sm-12")
        .col-sm-12
          if searchwords
            p Query sent to Twitter "<strong>#{searchwords}</strong>"
        .col-sm-6  
            if wordCount
              each value, key in wordCount
                  p The word #{key} was found #{value} times
  each tweet, index in data
    div(class="card")
      h5(class="card-title") #{tweet.user.screen_name} -  #{tweet.created_at} - #{tweet.geo}
      div(class="card-body")
        img(src=`${tweet.user.profile_image_url}`)
        p #{tweet.full_text}
    br
