extends layout

block content
	.container-fluid
		.row
			.col-md-12
				form.p-5(action='/list', method='POST')
					p.h4.mb-4 Twitter Log
					p Query the database for all the tweets we've collected so far.
					label(for='location') Select Database
					.row
						.col-md-4
							select#location.custom-select.mb-4(name='location')
								option(value='melbourne') Melbourne
								option(value='chicago') Chicago
							label(for='count') How many results should be returned?
							input.form-control.mb-4(id='count' name='count', type='text')
					.custom-control.custom-checkbox.mb-2
						input#random.custom-control-input(name='random', type='checkbox')
						label.custom-control-label(for='random', hidden = isHidden) Randomise
					.custom-control.custom-checkbox.mb-2
						input#checked.custom-control-input(name='checked', type='checkbox')
						label.custom-control-label(for='checked', hidden = isHidden) Only get tweets which have been checked
					.custom-control.custom-checkbox.mb-4
						input#crime.custom-control-input(name='crime', type='checkbox')
						label.custom-control-label(for='crime', hidden = isHidden) Only get tweets related to crime
					button.btn.btn-primary(type='submit') Search
		.mx-5.mb-5
			each tweet in data
				.card.mb-3
					.card-body
						.grid-container
							img#tweetdp.mx-2(src=`${tweet.user_profile_image_url}`)
							p#tweetheader(class="card-title")
								span
									strong #{tweet.user_name} 
								span #{tweet.created_at} - #{tweet.geo}
							p#tweetbody #{tweet.full_text}
