extends layout

block content
  script(src="./scripts/checkScript.js")
  div(class="row")
    div(class="col-sm-1")
      img(src="images/Twitter_Logo_WhiteOnBlue.png" align="left" width="64px")
    div(class="col-sm-11")
      h1 Twitter Word Visualisation Checking
      
    br
  br
  .row
    .col-3
      p Tweets Counted:
    .col-1
      p#counter  0
  each tweet, index in data
    div(class="card" id="cardbody")
      h5#tweetHead(class="card-title") #{tweet.user_name} -  #{tweet.created_at} - #{tweet.geo}
      div(class="card-body")
        img#tweetImg(src=`${tweet.user_profile_image_url}`)
        p#tweetText #{tweet.full_text}
        .row
          .col-sm-3
          .col-sm-3
            button.btn.btn-success#tweetTrue(onclick=`sendData('true',${tweet.id})`) True
          .col-sm-3
            button.btn.btn-danger#tweetFalse(onclick=`sendData('false',${tweet.id})`) False

    

  
