extends layout

//- md bootstrap (deprecated)
//- will delete soon, i'm only leaving this here because the deckgl map control panel uses 
//- styles from this template
//- i don't like the template tbh (md bootstrap)
//- too many paid options
append head
	link(rel='stylesheet' href='/stylesheets/css/bootstrap.min.css')
	link(rel='stylesheet' href='/stylesheets/css/mdb.min.css')
	script(type='text/javascript' src="/stylesheets/js/popper.min.js")
	script(type='text/javascript' src="/stylesheets/js/bootstrap.min.js")
	script(type='text/javascript' src="/stylesheets/js/mdb.min.js")

block content
	.container-fluid
		.row.mx-5
			.col-md-12.mt-5
				p.h4.mb-4 Manual Checking
				p Your input will aid the NLP model in learning how to recognise tweets.
				p 
					| You have checked a total of 
					span#counter 0
					|  tweet(s) so far.
				label(for="location") Select Database
				.row
					.col-md-4
						select#location.custom-select.mb-4(name="location", onchange=`skip()`)
							option(value="melbourne") Melbourne
							option(value="chicago") Chicago
		.row.mx-5
			.col-md-12
				each tweet, index in data
					.card.mb-3
						.card-body
							.grid-container
								img#tweetdp.mx-2(src=`${tweet.user_profile_image_url}`)
								p#tweetheader(class="card-title")
									span
										strong#tweetusername #{tweet.user_name} 
									span#tweetmetadata #{tweet.created_at} - #{tweet.geo}
								p#tweetbody #{tweet.full_text}
							.row
								.col-md-4.mx-auto
									label(for="crime-type") Select Category
									select#crime-type.custom-select.mb-4(name="crime-type")
										option(value="assault") Assault
										option(value="murder") Murder
										option(value="kidnapping") Kidnapping
										option(value="extortion") Extortion
										option(value="rape") Rape
										option(value="theft") Theft
										option(value="burglary") Burglary
										option(value="vandalism") Vandalism
										option(value="drugs") Drugs
							.row
								.col-md-4.mx-auto
									label(for="pac-input") Location (approximate)
									input.form-control.mb-4(id="pac-input" name="pac-input", type="text", placeholder="Enter a location")
							.row
								.col-md-4.mx-auto.text-center
									button.btn.btn-success#tweetTrue(onclick=`sendData('true',${tweet.id})`) True
									button.btn.btn-danger#tweetFalse(onclick=`sendData('false',${tweet.id})`) False
	script(src="./scripts/checkScript.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-PIPhjfg5Cm1f8eTaJ9jPsACSuZ7gViU&libraries=places&callback=initAutocomplete" async defer)
