extends layout

block content
  script(src="./scripts/checkScript.js")
  div(class="row")
    div(class="col-sm-1")
      img(src="images/Twitter_Logo_WhiteOnBlue.png" align="left" width="64px")
    div(class="col-sm-11")
      h1 VISION: Check Tweets

  div(class="card" style="height: 85px")
    .row
      .col-3
        p Tweets Counted:
      .col-1
        p#counter  0
  each tweet, index in data
    div(class="card" id="cardbody")
      h5#tweetHead(class="card-title") #{tweet.user_name} -  #{tweet.created_at} - Tweet Location: #{tweet.geo} - User Default Location:#{tweet.user_location}
      div(class="card-body")
        img#tweetImg(src=`${tweet.user_profile_image_url}`)
        p#tweetText #{tweet.full_text}
        .row
          .col-sm-3

          .col-sm-3
            .row
              label(for="crime-type") Type of Crime 
            .row
              select(id="crime-type")
                option(value="assault") Assault
                option(value="murder") Murder
                option(value="kidnapping") Kidnapping
                option(value="extortion") Extortion
                option(value="rape") Rape
                option(value="theft") Theft
                option(value="burglary") Burglary
                option(value="vandalism") Vandalism
                option(value="drugs") Drugs
            .row
              label(for="pac-input") Location (approximate)
            .row
              input(id="pac-input" type="text" placeholder="Enter a location")
            .row
              .col-sm-6
                button.btn.btn-success#tweetTrue(onclick=`sendData('true',${tweet.id})`) True
              .col-sm-6
                button.btn.btn-danger#tweetFalse(onclick=`sendData('false',${tweet.id})`) False 
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgTDSvRy9VcwykRu_OWRnB_xcva3YwIpU&libraries=places&callback=initAutocomplete"
  async defer)
